<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="pkg_path" value="$(find swerve_description)"/>

    <!-- Openarm Body -->
     
    <joint name="body_link0_joint" type="fixed">
        <parent link="base_link"/>
        <child link="body_link0"/>
        <origin xyz="0 0 0.133" rpy="0 0 1.57"/>
    </joint>

    <link name="body_link0">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="2.0"/>
            <inertia
                ixx="0.02" ixy="0.0" ixz="0.0"
                iyy="0.02" iyz="0.0"
                izz="0.02"/>
        </inertial>

        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://${pkg_path}/meshes/openarm_body_link0.dae" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>

        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.30 0.30 0.20"/>
            </geometry>
        </collision>
    </link>

</robot>